
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Residential Care</title>
    <!-- Bootstrap Core CSS -->
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Content/one-page-wonder.css" rel="stylesheet">

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Residential Care</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="/account/register">Register</a>
                    </li>
                    <li>
                        <a href="/account/login">Login</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Full Width Image Header -->
    <header  style="background: #FFFFFF url(/Images/healthcare.jpg) left center no-repeat; opacity: 0.5; text-align:center;">
        <div class="headline">
            <div class="container" style="opacity:1;">
                <h2>Residential Care</h2>
                <h2 style="font-size:30px; ">Cloud based integrated Care Management System</h2>
            </div>
        </div>
    </header>
    <!-- Page Content -->
    <div class="container">
        <hr class="featurette-divider">
        <!-- First Featurette -->
        <div class="featurette" id="about">
            <br /><br />
            <img class="featurette-image img-circle img-responsive pull-right" src="/Images/About.jpg">
            <h2 class="featurette-heading">
                About Us

            </h2>
            <p class="lead" style="text-align: justify; text-justify: inter-word;">
                Residential Care is a highly scalable, cloud based integrated Care Management System, that is uniquely designed to help our clients achieve unprecedented levels of compliance, drive improvements in the quality of Care, reduced both fiscal and operational risk and dramatically enhance organisational management capabilities.
                The epicCare product is a fully web-based system that delivers significant cost savings in a simple to use format that is quickly embraced by staff and easily deployed across an entire organisation.
            </p>
        </div>

        <hr class="featurette-divider">
        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <br /><br />
            <img class="featurette-image img-circle img-responsive pull-right" src="/Images/Contact.jpg">
            <h2 class="featurette-heading">
                Contact
                <span class="text-muted">Us.</span>
            </h2>
            <p class="lead">
                <address>
                    Residential Care Solutions<br />
                    National College of Ireland<br />
                    Mayor Street<br />
                    IFSC<br />
                    Dublin 1<br />
                </address>
            </p>

        </div>
     
            <hr class="featurette-divider" style="margin-bottom:10px;">
      
       

        <!-- Footer -->
        <footer class="text-muted" style="margin:0px; margin-bottom:5px;">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Josemon Philip 2015</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
   
</body>
</html>

